* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  color: white;
}

header {
  position: fixed;
  margin-bottom: 100px;
  top: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(144, 140, 140, 0.198);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-size: 2em;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: white;
  text-decoration: none;
  font-weight: 600;
  margin-left: 40px;
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform 1s;
}

.navigation a:hover::after {
  transform: scaleX(1);
}

.navigation .login-btn-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid white;
  color: white;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 500;
  margin-left: 40px;
  transition: 1s;
}

.navigation .login-btn-popup:hover {
  background-color: white;
  color: black;
}

.wrapper {
  visibility: hidden;
  width: 400px;
  height: 240px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-box input {
  height: 30px;
  width: 200px;
  border: none;
  border-radius: 6px;
  padding: 16px;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
}

.btn-login {
  width: 100px;
  height: 37px;
  font-size: 1.2em;
  margin-left: 30%;
  margin-top: 44px;
  background-color: rgb(12, 1, 1);
  border-radius: 6px;
}
.searchbtn {
  padding: 5px;
}
.searchbar {
  padding: 5px;
}
.searchbtn:hover {
  color: white;
  background-color: black;
  scale: 1.2;
}
.showContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 200px;
  gap: 8px;
}
.showContent img {
  width: 165px;
  height: 253px;
  border: 1px solid white;
}
.movieContainer {
  color: rgb(238, 232, 232);
  border: 2px rgb(94, 92, 92) solid;
  font-weight: bold;
  /* gap: 3; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  margin-bottom: 5px;
  width: 198px;
  border-radius: 7px;
  padding: 15px;
}
.movieContainer:hover {
  border: 2px white solid;
  transition: 0.9s;
  scale: 1.2;
  z-index: 1;
  background-color: black;
}
.cracky {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 340px;
  flex-direction: column;
  border: 2px solid white;
  padding: 7px;
  overflow: hidden;
}
.cracky h4 {
  font-size: larger;
  text-decoration: underline;
}
.cracky span {
  color: red;
}
/* .cracky img {
  width: 180px;
  height: 130px;
} */
/* .invis {
  display: none;
  transition: 1s;
} */
